#footer
{

    height: 60px;
    width: 100%;
    background-color: grey;
    /* border-radius: 20px 20px 0 0; */
    display: flex;
    justify-content: center;
    align-items: center;

}